In [15]:
import pandas as pd

## Reading Text file to table 

uses read_table() method in Pandas (doc: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html)
sep - (where you specify Regex)

In [13]:
df = pd.read_table('bsm_input_part_smallBlocks.txt', sep='\s|\/|\bENDBSM\b|\.|\, ', header=None, index_col=False, skiprows=0, usecols=[8,9,11,12,13,14,15,17,18,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40], engine='python' )

In [14]:
df.head(2) #displaying first 2 rows only

,8,9,11,12,13,14,15,17,18,20,...,31,32,33,34,35,36,37,38,39,40
0,V,1LDXB,F,SG014,02APR,BOM,Y,N,0775767939002,S,...,K,2,47,NaN,P,1BORKAR,AKASHJAYENDRA,NaN,L,I65KQF
1,V,1LDXB,F,BI0097,02APR,LHR,Y,N,0672727063001,S,...,1,16,NaN,P,HIGHFIELD,COLEENMS,NaN,L,SLEHJT,ENDBSM